@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

body {
  @media (max-width: 300px) {
    font-size: 10px;
  }
}

.sub-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.messages {
  @extend .sub-container;
  width: 100%;
}

.senders {
  @extend .sub-container;
  @media (max-width: 400px) {
    display: none;
  }
}

.item {
  padding: 7px;
}

.message-sender {
  @extend .item;
  color: #007788;
  text-transform: capitalize;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.header {
  @extend .container;
  margin-top: 20px;
  padding: 12px;
  color: #fff;
  font-weight: bold;
}
